* {
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito';
    color: white;
}
h1 {
    font-size: 36px;
    font-weight: bold;
}
h2 {
    font-size: 32px;
    font-weight: normal;
}


:root {
    --color_fondo_header_foot: #0C1935;
    --color_fondo_body: #0F2147;
    --color_fondo_buscador: #23304D;
    --color_luz_2: #3FE03F;
    --color_luz_1: #4CB04F;
    --color_base_v: #3A943D;
    --acento: #FFD700;
    --color_estado_warning: #FFB800;
    --color_estado_error: #FF0000;
    --color_estado_ok: #3F6927;
}



body {
    background-color: var(--color_fondo_body);
}


/************** GRID **************/


/* Declaro areas */

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

.logo-menu {
    grid-area: logo;
}

.section_buscador {
    grid-area: buscar;
}

.section_car_avatar {
    grid-area: user;
}


/* Page Layout Mobile section*/

.layout {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 9% auto 19%;
    grid-template-areas: "header" "main" "footer";
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "logo logo buscar buscar user user";
}


/************** Header **************/

header {
    background-color: var(--color_fondo_header_foot);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}


/*************************/

.logo-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 1%
}

.img-hamburguesa {
    width: 20px;
    height: 30px;
    cursor: pointer;
}

.img-logo {
    height: 30px;
    width: 30px;
}

.img-lupa {
    width: 8px;
    height: 10px;
}

.section_logo {
    display: flex;
    align-items: center;
    margin-left: 12px;
}

.section_logo:hover {
    cursor: pointer;
}

.section_logo>h1 {
    font-size: 12px;
    font-weight: unset;
}

.section_buscador>form {
    display: flex;
    justify-content: center;
}

.section_buscador>form>input {
    background-color: #ffffff4d;
    border: none;
    border-radius: 20px;
    width: 80%;
}

.section_buscador>form>input::placeholder {
    font-size: 10px;
    color: white;
}

.img-carrito {
    width: 15px;
    height: 15px;
}

.section_car_avatar {
    display: flex;
    padding-right: 10px;
    align-items: center;
}

#btn-carrito {
    background: none;
    border-style: none;
    margin-right: 15px;
}

#btn-carrito:hover {
    cursor: pointer;
}

.avatar_header {
    background-image: url(uploads/images.jpg);
    width: 20px;
    height: 20px;
    background-size: contain;
    border-radius: 30px;
    margin-right: 5px;
}

.nickname {
    font-weight: normal;
    font-size: 10px;
}


/************** Desplegables del nav **************/

#detalle_carrito {
    background-color: var(--color_fondo_header_foot);
    position: absolute;
    top: 70px;
    right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#detalle_carrito>table {
    margin-bottom: 25px;
    margin-top: 15px;
    border-spacing: 10px;
}

#detalle_carrito>table>tbody,
tfoot>tr>td {
    font-weight: normal;
    font-size: 14px;
}


/**************************/

#btn-perfil-detalle:hover {
    cursor: pointer;
}

.avatar_header:nth-child(2):hover {
    cursor: pointer;
}

#detalle_perfil_avatar {
    position: absolute;
    background-color: var(--color_fondo_header_foot);
    top: 44.5px;
    right: 1px;
}

#detalle_perfil_avatar>div>ul {
    padding-left: 20px;
    padding-right: 20px;
}

#detalle_perfil_avatar>div>ul>li {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

#detalle_perfil_avatar>div>ul>li:hover {
    cursor: pointer;
}

#detalle_perfil_avatar>div>p {
    color: #bbb8b8;
    font-size: 13px;
}

.no-visible {
    display: none !important;
}

.visible {
    display: inline !important;
}


/************NAV Desplegable tambien ****************/

nav {
    width: 35%;
    position: absolute;
    background-color: var(--color_fondo_header_foot);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}

nav>a {
    font-size: 10px;
    opacity: 70%;
    margin-bottom: 20px;
}

nav>ul {
    width: 100%;
}

nav>ul>li {
    height: 30px;
    margin-bottom: 2px;
    display: flex;
}

nav>ul>li>button {
    width: 100%;
    background-color: var(--color_fondo_body);
    border: none;
    font-size: 12px;
}

nav>hr {
    width: 99%;
    margin: 20px 0% 20px 0%;
    border-bottom-width: 0px;
}

.btn-nav {
    align-items: center;
    display: flex;
    padding-left: 15px;
}

.btn-nav>img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.btn-contactanos {
    border: none;
    border-radius: 50px;
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    align-items: center;
    background-color: #ff6f1c;
    margin-bottom: 10px;
}

.btn-contactanos>svg {
    width: 10px;
}

.btn-contactanos>p {
    opacity: 100%;
}

.section_redes_nav {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.section_redes_nav>button {
    background: none;
    height: 30px;
    border: none;
}

.img-redes {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.no-visible {
    display: none !important;
}

.visible {
    display: inline !important;
}


/************fin NAV****************/


/*****************LOGIN/REGISTRO***********************/

main {
    background-color: var(--color_fondo_body);
}


.container_login, .container_registro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #2e6e63;
}

.container_login>h2,
.container_registro>h2 {
    font-weight: normal;
    margin-bottom: 20px;
}

.btn-login-oauth {
    width: 200px;
    border: none;
    border-radius: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 17px 5px 17px;
}

.btn-login-oauth:hover {
    cursor: pointer;
}

#divisor_lateral {
    display: flex;
    height: 0px;
    margin-bottom: 20px;
    font-family: 'Nunito';
    font-size: 18px;
}

#divisor_lateral>hr {
    width: 100px;
}

#divisor_lateral>p,
#divisor_vertical>p {
    margin-right: 10px;
    margin-left: 10px;
}


.divisor_vertical_hr {
    border: none;
    border-left: 1px solid white;
    height: 200px;
    width: 1px;
}

.formulario {
    margin: 20px 0px 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario>div {
    width: 85%;
}

.container_label_input {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.container_label_input>input {
    border-radius: 10px;
    border-style: none;
    background-color: #dedee2d1;
    height: 25px;
    color: black;
}

.container_label_input>label {
    margin-bottom: 3px;
}

.btn-form {
    background-color: rgb(68, 184, 60);
    border-style: none;
    border-radius: 10px;
    height: 35px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 90%;
}

#btn_registrarse_nav {
    border-style: none;
    border-radius: 5px;
    padding: 2px;
    cursor: pointer;
}

.btn-form:hover {
    cursor: pointer;
    background-color: var(--sombra_acento) !important;
}

.div_horizontal {
    width: 275px;
    display: flex;
    justify-content: space-evenly;
    font-size: 14px;
}


/******************fin - LOGIN/REGISTRO********************/


/************FOOTER****************/

footer {
    background-color: var(--color_fondo_header_foot);
    display: flex;
    margin-top: 60px;
    height: 100%;
}

footer>section {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

footer>section>h5 {
    font-family: 'Nunito';
    font-weight: normal;
    margin-bottom: 0px;
    font-size: 12px;
}

.div_links_footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    opacity: 70%;
}

.links_footer {
    margin-bottom: 10px;
    font-family: 'Nunito';
    align-items: center;
    display: flex;
    font-size: 10px;
}

.links_footer:hover {
    cursor: pointer;
}

/************fin FOOTER****************/


/*********** HOME ************/
/***** GRID DE HOME ******/

.container-main {
    max-width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 40% auto 300px;
    color: white;
    grid-template-areas: "topjuegos" "carruseles" "publicidad";
}

.mas-jugados {
    grid-area: topjuegos;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carrusel-categorias {
    grid-area: carruseles;
    display: flex;
    flex-direction: column;
}

.publicidad {
    grid-area: publicidad;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
}


/* MOBILE FIRST */

.mas-jugados>img {
    height: 150px;
    width: 50%;
    padding: 10px;
}

.carrousel {
    display: flex;
    flex-direction: row;
}

.carrousel>img {
    height: 100px;
    width: 100px;
    padding: 5px 8px 0px 0px;
}

.publicidad>img {
    width: 95%;
    height: 100px;
    justify-content: center;
}

.carrusel-categorias>h3 {
    padding-top: 20px;
}


/* solo para pantallas superiores a 1024px */

@media only screen and (min-width: 1024px) {
    .container-main {
        width: 100%;
    }
    /************    HEADER    ****************/
    .img-hamburguesa {
        width: 35px;
        height: 35px;
    }
    .img-logo {
        height: 60px;
        width: 60px;
    }
    .img-carrito {
        width: 30px;
        height: 30px;
    }
    .nickname,
    .section_logo>h1 {
        font-size: 20px;
    }
    .section_buscador {
        width: 460px;
    }
    .section_buscador>form>input {
        width: 100%;
        height: 40px;
    }
    .img-lupa {
        width: 14px;
        height: 14px;
    }
    .section_buscador>form>input::placeholder {
        font-size: 16px;
        color: white;
    }
    #btn-carrito {
        margin-right: 25px;
    }
    .avatar_header {
        width: 38px;
        height: 36px;
    }
    .section_car_avatar {
        margin-right: 30px;
    }
    .logo-menu {
        margin-left: 30px;
    }
    /************  FIN  HEADER    ****************/
    /************   FOOTER    ****************/
    footer {
        justify-content: space-around;
    }
    footer>section {
        margin-top: 20px;
    }
    footer>section>h5 {
        font-size: 20px;
    }
    .links_footer {
        font-size: 16px;
    }
    /************FIN FOOTER****************/
    /**************HOME**********************/
    .carrusel-categorias {
        margin-left: 5%;
    }
    /**************fin - HOME****************/
    /************    FORMULARIO    ****************/
    .container_login {
        width: 623px;
        height: 700px;
    }
    .container_login>h2,
    .container_registro>h2 {
        font-size: 32px;
    }
    .btn-login-oauth {
        width: 297px;
        height: 36px;
        font-size: 16px;
    }
    #divisor_lateral>hr {
        width: 210px;
    }
    #divisor_lateral>p {
        margin-top: -10px;
    }

    .container_login>.formulario>div>div>input{
        width: 409px;
        height: 35px;
        border:solid 1px #78C97A;
    }

    .btn-form {
        width: 490px;
        height: 45px;
        font-size: 20px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    #btn_registrarse_nav {
        width: 100px;
        height: 19px;
    }
    .div_horizontal {
        width: 50%;
        font-size: 16px;
        align-items: center;
    }
    /************   FIN FORMULARIO    ****************/

    /************   REGISTRO    ****************/

    .container_registro{
        width: 700px;
        height: 750px;
    }

    .container_registro>div>.formulario>div>div>input{
        width: 250px;
        height: 28px;
        border:solid 1px #78C97A;
    }

    .container_registro>div>form>.btn-form{
        width: 100%;
        height: 45px;
        margin-top: 20px;
        margin-bottom: 0px;
    }
    
    .container_registro>div>section>div{
        margin-bottom: 180px;

    }
    .container_registro>div>section>div>button{
        width: 250px;
        height: 35px;
        margin-bottom: 37px;
    }

    .container_registro>div>article{
        margin-top: 40px;
        margin-left: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container_registro>div>article>p{
        margin-top: 5px;
        margin-bottom: 5px;
    }



    /************   NAV    ****************/
    nav {
        width: 287px;
        height: 724px;
    }
    nav>ul>li {
        height: 64px;
    }
    .btn-nav {
        font-size: 20px;
    }
    .btn-contactanos {
        width: 237px;
        height: 33px;
        font-size: 16px;
        margin-bottom: 30px;
    }
    nav>a {
        margin-top: 60px;
        font-size: 16px;
    }
    .btn-nav>img {
        width: 34px;
        height: 34px;
        margin-right: 21px;
    }
    .img-redes {
        width: 35px;
        height: 35px;
    }
    .btn-contactanos>svg {
        width: 20px;
    }
    /************  FIN NAV    ****************/
    /************  DESPLEGABLES    ****************/
    #detalle_perfil_avatar {
        top: 70px;
        width: 290px;
        height: 370px;
    }
    #detalle_perfil_avatar>div>p {
        margin-bottom: 22px;
        font-size: 16px;
    }
    #detalle_perfil_avatar>div>ul {
        font-size: 20px;
    }
    #detalle_carrito {
        font-size: 24px;
        width: 300px;
        height: 280px;
    }
    #detalle_carrito>table>tbody,
    tfoot>tr>td {
        font-size: 20px;
    }
    /******************JUEGO EN EJECUCION********************/

    .container_juego_ejecucion {
        max-width: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container_juego_ejecucion>.header_juego {
        height: 125px;
        background-color: #2e6e63;
        width: 100%;
        
    }
    .container_juego_ejecucion>.header_juego>section>h1 {
        font-family: 'Nunito';
        font-size: 28px;
        margin-top: 25px;
        margin-bottom: 0px;
    }
    .container_juego_ejecucion>.header_juego>.divisor_vertical_hr {
        height: 50px !important;
        margin: 0px !important;
    }
    .section_estrellas_likes {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        align-items: center;
    }
    /***********************************/
    .contenedor_en_ejecucion {
        background-color: var(--color_fondo_header_foot);
        width: 1227px;
        height: 500px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 26px;
        margin-top: 21px;
    }
    .contenedor_en_ejecucion>.img_tablero_4_en_linea {
        width: 400px;
        height: 400px;
    }
    .contenedor_en_ejecucion>section {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 80px;
    }
    .contenedor_en_ejecucion>section>h5 {
        font-family: 'Nunito';
        font-size: 20px;
        font-weight: 700;
        font-style: normal;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .contenedor_en_ejecucion>section>p {
        font-family: 'Nunito';
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        margin-bottom: 11px;
        margin-top: 5px;
    }
    #btn-jugar-en-ejecucion {
        width: 186px;
        height: 49px;
        border-radius: 50px;
        border-style: none;
        margin-left: 12px;
        font-size: 18px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: var(--acento);
        color: var(--color_fondo_body);
        font-weight: bold;
    }

    /***********************************/
    .caja1{
        margin-top: 20px;
    }

    .caja1, .caja2{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 60px;
    }

    .compartiretc, .likesylogos{
        display: flex;
        width: 42%;
        justify-content: center;
        margin-right: 80px;
    }

    .caja1>div>hr {
        margin-left: 35px;
        margin-right: 35px;
        margin-top: 10px;
        height: 50px;
    }

    .caja2>div>hr {
        margin-left: 35px;
        margin-right: 35px;
        height: 40px;
    }
    
    .likesylogos>article {
        width: 141px;
        height: 20px;
        display: flex;
        justify-content: space-around;
    }
    .likesylogos>section {
        width: 182px;
    }

    /*************************************/
    .section_tutorial_juego {
        /*medidas de figma: demasiado, se sale de la pantalla
    width: 1440px;
    height: 2959px;*/
        max-width: 90%;
        width: 1240px;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .section_tutorial_juego>h2 {
        font-family: 'Nunito';
        width: 100%;
        margin-bottom: 3px;
    }

    .tutorial {
        display: flex;
        flex-direction: column;
    }

    .section_tutorial_juego>div>article>h2 {
        margin-top: 6px;
    }

    .section_tutorial_juego>p {
        font-family: 'Nunito';
        font-size: 16px;
        width: 100%;
        height: 88px;
    }
    .section_tutorial_juego>div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .section_tutorial_juego>div>article {
        /* width: 350px;*/
    }
    .section_tutorial_juego>div>article>p {
        font-family: 'Nunito';
        font-size: 16px;
        font-weight: 500;
        width: 388px;
        height: 103px;
    }
    .imgs_tutorial_section {
        /*width: 200px;
    height: 100px;*/
    }
    /******************fin - JUEGO EN EJECUCION********************/
}